<!DOCTYPE html>
<html>
<body>

<h1> Name : Mohammed Saady Ahmed Sayed </h1>
<h2> Job title : DevOps Engineer </h2>
<h3> Mail: mohammedsady585@yahoo.com </h3>
<h3> Phone Number : +201156725235 </h3>
<h1> Education :- </h1>
<p>   Graduated form Faculty of Engineering Cairo university
- Infra Structure Engineering</p>
<p>Graduation Year :-  2021 </p>
<h2> Software Skils : </h2>
<h4> HTML , CSS , Python , Linux adminstration | , Network CCNA , Scripting (bash, Python) , Django Frame work , Apache Server , Nginx , Docker , Jenkkis , K8S , Terraform , AWS  </h4>
<h2>Languages : </h2>
<p>English : Excellent </p>
<p>English : Excellent </p>
<p>English : Excellent </p>
<p>Duetch : " A1 "</p>
<h2>Soft Skills</h2>
<p>Proplem Solving</p>
<p>Team Work</p>
<p>Communication Skills</p>
<p>Management Skills</p>

</body>

</html>